[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
loguru = "*"
python-dotenv = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
beautifulsoup4 = "*"
docx2txt = "*"
patool = "*"
pdfminer = "*"
pywin32 = "*"

[dev-packages]

[requires]
python_version = "3.9"
